<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<classPathEntry
		location="C:/Users/gc/.m2/repository/mysql/mysql-connector-java/5.1.46/mysql-connector-java-5.1.46.jar" />
	<context id="context1">
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://127.0.0.1:3306/demo" userId="root"
			password="root_123" />
		<!-- 生成模型的包名和位置 -->
		<javaModelGenerator targetPackage="com.fineframework.persistence.domain"
			targetProject="springboot" />
		<!-- 生成映射文件的包名和位置 -->
		<sqlMapGenerator targetPackage="com.fineframework.persistence.mapping"
			targetProject="springboot" />
			
		<!-- 生成DAO的包名和位置 -->
		<javaClientGenerator targetPackage="com.fineframework.persistence.dao"
			targetProject="springboot" type="XMLMAPPER" />
		<!-- 要生成的表 -->
		 
		<table tableName="user" domainObjectName="User"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		
	</context>
</generatorConfiguration>
















